/*----------------------------------------------- globals --------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {

    /* colors */

    --background: #0F0F0F;
    --background-content: #1E201E;
    --border-content: 1px solid rgba(102, 0, 102, 0.2);
    --purple: #4d004d;
  

    /* shadows */

    --shadow-background: rgba(102, 0, 102, 0.20) 0px 5px 15px;


    /* fonts */

    --family: "Source Code Pro", monospace;
    --weight: <weight>;
    --font-style: normal;
    --font-optical-sizing: auto;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--family);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*--------------------------------------------- aside ------------------------------------------------*/
body {
    display: flex;
    background-color: var(--background);
}

aside {
    width: 20%;
    height: 100vh;
    padding: 3% 0% 3% 3%;
}

.aside_content {
    background-color: var(--background-content);
    border: var(--border-content);
    box-shadow: var(--shadow-background);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    height: 100%;
    width: 100%;
}

.perfil {
    width: 120px;
    height: 120px;
}

.perfil img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/*--------------------------------------------- content ------------------------------------------------*/
.back {
    width: 80%;
    height: 100vh;
    padding: 3% 3% 3% 1.5%;
}

.content {
    background-color: var(--background-content);
    border: var(--border-content);
    box-shadow: var(--shadow-background);
    border-radius: 20px;
    height: 100%;
    width: 100%;
}

nav {
    background-color: #4d004d;
    width: 70%;
    height: 10%;
    border-radius: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    display: flex;
}