/*----------------------------------------------- globals --------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {

    /* colors */

    --background: #0F0F0F;
    --background-content: #1E201E;
    --background-content2: #252725;
    --title: #fff;
    --text: #a2a9a2;
    --text-hover: #fff;
    --border-content: 1px solid rgba(102, 0, 102, 0.2);
    --purple: #4d004d;
    --purple-light: #660066;
  

    /* shadows */

    --shadow-background: rgba(102, 0, 102, 0.20) 0px 5px 15px;


    /* fonts */

    --family: "Source Code Pro", monospace;
    --weight: <weight>;
    --font-style: normal;
    --font-optical-sizing: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--family);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    display: flex;
    background-color: var(--background);
}

::selection {
    background-color: var(--purple);
    color: #fff;
}

/*--------------------------------------------- aside ------------------------------------------------*/
aside {
    width: 20%;
    height: 100vh;
    padding: 3% 0% 3% 3%;
}

.aside_content {
    background-color: var(--background-content);
    border: var(--border-content);
    box-shadow: var(--shadow-background);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    height: 100%;
    width: 100%;
    color: var(--title);
}

.perfil {
    width: 120px;
    height: 120px;
}

.perfil img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.perfil img:hover{
    cursor: pointer;
}

.image-only-modal {
    padding: 0;
    margin: 0;
    border: none;
    width: 300px;
    height: 400px; 
    box-shadow: none;
    overflow: hidden;
    background: none;
    border-radius: 20px;
    transition: opacity 0.2s ease;
}

.swal2-image {
    margin: 0;
}

.aside_content h1{
    margin-top: 25px;
    font-size: 18px;
}

.aside_content p {
    margin-top: 5px;
    font-size: 15px;
}

.aside-line {
    margin-top: 25px;
    background-color: var(--text);
    opacity: .2;
    border-radius: 20px;
    height: 1px;
    width: 100%;
}

.icons-box {
    background-color: var(--background-content2);
    border-radius: 12px;
    width: 40px;
    height: 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    flex-shrink: 0;
    margin-right: 10px;
}

.aside-email {
    display: flex;
    width: 100%;
    margin-top: 25px;
    overflow: hidden;
}

.aside-email-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aside-email-box span {
    font-size: 14px;
    color: var(--text);
}

.aside-email-box a {
    font-size: 12px;
    color: var(--title);
}

.aside-phone {
    display: flex;
    width: 100%;
    margin-top: 25px;
    overflow: hidden;
}

.aside-phone-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aside-phone-box span {
    font-size: 14px;
    color: var(--text);
}

.aside-phone-box a {
    font-size: 12px;
    color: var(--title);
}

.aside-location {
    display: flex;
    width: 100%;
    margin-top: 25px;
    overflow: hidden;
}

.aside-location-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aside-location-box span:first-child {
    font-size: 14px;
    color: var(--text);
}

.aside-location-box span:last-child {
    font-size: 12px;
    color: var(--title);
}

/*--------------------------------------------- content ------------------------------------------------*/
.back {
    width: 80%;
    height: 100vh;
    padding: 3% 3% 3% 1.5%;
}

nav {
    background-color: var(--background-content2);
    border: var(--border-content);
    width: 70%;
    height: 10%;
    border-radius: 0px 20px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav a {
    color: #a2a9a2;
}

.active {
    color: var(--text-hover) !important;
}

/*--------------------------------------------- Home ------------------------------------------------*/
.home {
    position: relative;
    background-color: var(--background-content);
    border: var(--border-content);
    box-shadow: var(--shadow-background);
    border-radius: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: hidden;
}

.home-content {
    width: 100%;
    height: 100%;
    padding: 30px;
    overflow-y: auto;
}

.home-content::-webkit-scrollbar {
    width: 12px;
}

.home-content::-webkit-scrollbar-track {
    background: var(--background-content2);
}

.home-content::-webkit-scrollbar-thumb {
    background: var(--purple);
    border-radius: 10px;
    border: 2px solid var(--background-content2);
}

.home-content::-webkit-scrollbar-thumb:hover {
    background: var(--purple-light);
}

.home-content::-webkit-scrollbar-thumb:active {
    background: #800080;
}

.home-div-title {
    width: 30%;
    height: 20%;
    color: var(--title);
}

.home-line {
    background-color: var(--purple);
    border-radius: 20px;
    height: 5px;
    width: 50%;
}

.apresentation {
    color: var(--text);
}

.keyword {
    color: lightblue;
}

.variable {
    color: #0047b3;
}

.property {
    color: #fff;
}

.identifier {
    color: #39ac73;
}

.return {
    color: #ff1a8c;
}

.string {
    color: #ffff4d;
}

.boolean {
    color: #0047b3;
}

.number {
    color: #0047b3;
}

.operator {
    color: #ff1a8c;
}

/*--------------------------------------------- About me ------------------------------------------------*/
.about {
    display: none;
    position: relative;
    background-color: var(--background-content);
    border: var(--border-content);
    box-shadow: var(--shadow-background);
    border-radius: 20px;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: hidden;
}

.about-content {
    width: 100%;
    height: 100%;
    padding: 30px;
    overflow-y: auto;
}

.about-content::-webkit-scrollbar {
    width: 12px;
}

.about-content::-webkit-scrollbar-track {
    background: var(--background-content2);
}

.about-content::-webkit-scrollbar-thumb {
    background: var(--purple);
    border-radius: 10px;
    border: 2px solid var(--background-content2);
}

.about-content::-webkit-scrollbar-thumb:hover {
    background: var(--purple-light);
}

.about-content::-webkit-scrollbar-thumb:active {
    background: #800080;
}

.about-div-title {
    width: 30%;
    height: 20%;
    color: var(--title);
}

.about-line {
    background-color: var(--purple);
    border-radius: 20px;
    height: 5px;
    width: 50%;
}

.about-text {
    width: 100%;
    height: 50%;
    color: var(--text);
}

.skills {
    width: 100%;
    height: 50%;
}

.skills h1 {
    color: var(--title);
}

.what-im-doing {
    width: 100%;
    height: 50%;
}

.what-im-doing h1 {
    color: var(--title);
}

.testimonial {
    width: 100%;
    height: 50%;
}

.testimonial h1 {
    color: var(--title);
}

/*--------------------------------------------- Projects ------------------------------------------------*/
.projects {
    display: none;
    position: relative;
    background-color: var(--background-content);
    border: var(--border-content);
    box-shadow: var(--shadow-background);
    border-radius: 20px;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: hidden;
}

.projects-content {
    width: 100%;
    height: 100%;
    padding: 30px;
    overflow-y: auto;
}

.projects-content::-webkit-scrollbar {
    width: 12px;
}

.projects-content::-webkit-scrollbar-track {
    background: var(--background-content2);
}

.projects-content::-webkit-scrollbar-thumb {
    background: var(--purple);
    border-radius: 10px;
    border: 2px solid var(--background-content2);
}

.projects-content::-webkit-scrollbar-thumb:hover {
    background: var(--purple-light);
}

.projects-content::-webkit-scrollbar-thumb:active {
    background: #800080;
}

.projects-div-title {
    width: 30%;
    height: 20%;
    color: var(--title);
}

.projects-line {
    background-color: var(--purple);
    border-radius: 20px;
    height: 5px;
    width: 50%;
}

.projects-navbar {
    width: 100%;
    height: 20%;
}

.projects-navbar ul {
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.projects-navbar ul a {
    color: var(--text);
}

.projects-navbar ul a:hover {
    color: var(--text-hover);
}


/*--------------------------------------------- Resume ------------------------------------------------*/
.resume {
    display: none;
    position: relative;
    background-color: var(--background-content);
    border: var(--border-content);
    box-shadow: var(--shadow-background);
    border-radius: 20px;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: hidden;
}

.resume-content {
    width: 100%;
    height: 100%;
    padding: 30px;
    overflow-y: auto;
}

.resume-content::-webkit-scrollbar {
    width: 12px;
}

.resume-content::-webkit-scrollbar-track {
    background: var(--background-content2);
}

.resume-content::-webkit-scrollbar-thumb {
    background: var(--purple);
    border-radius: 10px;
    border: 2px solid var(--background-content2);
}

.resume-content::-webkit-scrollbar-thumb:hover {
    background: var(--purple-light);
}

.resume-content::-webkit-scrollbar-thumb:active {
    background: #800080;
}

.resume-div-title {
    width: 30%;
    height: 20%;
    color: var(--title);
}

.resume-line {
    background-color: var(--purple);
    border-radius: 20px;
    height: 5px;
    width: 50%;
}

.resume-text {
    width: 100%;
    height: 50%;
    color: var(--text);
}

/*--------------------------------------------- Contact ------------------------------------------------*/
.contact {
    display: none;
    position: relative;
    background-color: var(--background-content);
    border: var(--border-content);
    box-shadow: var(--shadow-background);
    border-radius: 20px;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow: hidden;
}

.contact-content {
    width: 100%;
    height: 100%;
    padding: 30px;
    overflow-y: auto;
}

.contact-content::-webkit-scrollbar {
    width: 12px;
}

.contact-content::-webkit-scrollbar-track {
    background: var(--background-content2);
}

.contact-content::-webkit-scrollbar-thumb {
    background: var(--purple);
    border-radius: 10px;
    border: 2px solid var(--background-content2);
}

.contact-content::-webkit-scrollbar-thumb:hover {
    background: var(--purple-light);
}

.contact-content::-webkit-scrollbar-thumb:active {
    background: #800080;
}

.contact-div-title {
    width: 30%;
    height: 20%;
    color: var(--title);
}

.contact-line {
    background-color: var(--purple);
    border-radius: 20px;
    height: 5px;
    width: 50%;
}

.contact-text {
    width: 100%;
    height: 50%;
    color: var(--text);
}

